@import '../../node_modules/platypusui/dist/platypus';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/howtoplay/howtoplay.vc.less';
@import '../src/viewcontrols/overview/overview.vc.less';
@import '../src/viewcontrols/promotions/promotions.vc.less';
@import '../src/viewcontrols/videos/videos.vc.less';

.about{
    height: 15em;
    background-size: cover;
    background-image: url('/images/about/about-hero.jpg');
}
.email-input{
    width: 100%;
}

.promotions{
    height: 15em;
    background-size: cover;
    background-image: url('/images/promotions/ promo-hero.jpg');
}

.howtoplay{
    height: 15em;
    background-size: cover;
    background-image: url('/images/howtoplay/how-to-play-hero.jpg')
}