@import '../../node_modules/platypusui/dist/platypus';
// Global Brand Variables
@brand-primary: #2995c7;
@brand-secondary: #1c2147;
@brand-tertiary: #3DB893;
@brand-text: #A6A8AB;
@brand-secondary-text: white;

@containerpad: 7%;
@borderradius: 5px;
@color-background : rgb(246, 246, 246);


//Font faces Roboto and WorkSans
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Condensed.otf);
    src: url(../fonts/Roboto/Roboto-Condensed.ttf);
    src: url(../fonts/Roboto/Roboto-Condensed.woff); 
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldCondensed.otf);
    src: url(../fonts/Roboto/Roboto-BoldCondensed.ttf);
    src: url(../fonts/Roboto/Roboto-BoldCondensed.woff);
    font-weight: bold;
}
@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans/WorkSans-Regular.otf);
    src: url(../fonts/WorkSans/WorkSans-Regular.ttf);
    src: url(../fonts/WorkSans/WorkSans-Regular.woff);
    
}
@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans/WorkSans-SemiBold.otf);
    src: url(../fonts/WorkSans/WorkSans-SemiBold.ttf);
    src: url(../fonts/WorkSans/WorkSans-SemiBold.woff);
    font-weight: bold;
}

@font-face {
    font-family: WorkSans;
    src: url(../fonts/WorkSans/WorkSans-ExtraBold.otf);
    src: url(../fonts/WorkSans/WorkSans-ExtraBold.ttf);
    src: url(../fonts/WorkSans/WorkSans-ExtraBold.woff);
    font-weight: bolder;
}

// Global container padding
.container {
    margin-left: @containerpad;
    margin-right: @containerpad;
}





@import '../src/templatecontrols/footercontrol/footercontrol.tc.less';
@import '../src/templatecontrols/navbarcontrol/navbarcontrol.tc.less';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/howtoplay/howtoplay.vc.less';
@import '../src/viewcontrols/overview/overview.vc.less';
@import '../src/viewcontrols/promotions/promotions.vc.less';
@import '../src/viewcontrols/videos/videos.vc.less';



//added viewport class to push content out from under navbar

.viewport{
    padding-top: @navbarheight;
}