@import "main.less";

& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}


.howtoplay {
    color: #ffffff;
    height: 18em;
    background-size: cover;
    background-position: center;
    background-image: url('/images/howtoplay/how-to-play-hero.jpg');
    
    h2 {
        font-size: 2.25em;
        color: white;
        text-align: center;
        font-family: WorkSans;
        font-weight: light;
    }
}

.tabs-container {
    margin-top: 1em;
    box-sizing: border-box;
    border-bottom: 2px solid #c3c4c2;
    text-align: center;
    height: 2.25em;
    padding: 0;
    
    .col-dsk-6 {
        height: 2.25em;
        line-height: 2.25em;
        color: #a6a8ab;
    }
    a:active {
        color: #7f8184;
        // line-height: 2.25em;
        height: 2.25em;
        border-bottom: 2px solid #2476a9;
        background-color: #a6a8ab;
    }
}

