@import "main.less";

& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

.howtoplay {
    height: 15em;
    background-size: cover;
    background-image: url('/images/howtoplay/how-to-play-hero.jpg');
    
    h2 {
        font-size: 2.25em;
        color: white;
        text-align: center;
        
    }
}

.tabs {
    margin-top: 0 auto;
    
    .tabs-container{
        text-align: center;
    }
}

.plat-viewport{
    height: 100%;
}
