& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {

    }
}

.about{
    height: 15em;
    background-size: cover;
    background-image: url('/images/about/about-hero.jpg');
}

.text-center{  
    text-align: center;
    color: @brand-secondary-text;
} 

.story{
    padding: 3em 0;
}

.story-image{
    padding-right: 2em;
}

.story-text{
    
    h3{
         font-size: 1.4em;
         text-transform: uppercase;
    }
    
    h4{
        color: @brand-text;
        font-size: 1.4em;
    }

}
.email-input{
    width: 100%;
}

.about-subscribe{
    background-color:#2d97d2;
    padding: 1em 18%;
}

