& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="promotions-vc"] {

    }
    

}

.promotions{
    height: 15em;
    background-size: cover;
    background-image: url('/images/promotions/promo-hero.jpg');
   
}

.top{
    position: relative;
    width:100%;
    height: 100px;
    vertical-align:middle;
    h2{
        text-align: center;
    }
}



.text-center{  
    text-align: center;
    color: @brand-secondary-text;

} 

.blue{
    color: @brand-primary; 
}

.grey{
    color: #A6A8AB;
}

.featured{
    padding: 2em 3em;
    background-color: @color-background;
    overflow: hidden;
}

.featured-container{
    max-width: 1280px;
    margin: 0 auto; 
    h4{
        color: @brand-text;
        font-family: Roboto;
        font-weight: bold;
        font-size: x-large;
        padding: 0;
        margin: 0;
    }
    p{
        color: @brand-primary;
        font-family: 'Work Sans';
        max-width: 500px;
        margin: .3em auto;
    }  
}

.important{
    font-size: x-large;
}

.card{
    box-shadow: 0 28px 14px 0 #e8e8e8;
    height: 20em;
    border-radius: 1em;
    width: 80%;
    max-width: 480px;
    margin: 1.5em auto;
    background-color: #fff;
    overflow: hidden;
}

.card-text-auburn{
    padding: 1em;
    color: @brand-secondary-text;
    background-image: url('/images/promotions/auburn.jpeg');
    background-size: cover;
    h4{
        color: @brand-secondary-text;
    }
    p{
        color: @brand-secondary-text;
    }
}

.card-text-alabama{
    padding: 1em;
    color: @brand-secondary-text;
    background-image: url('/images/promotions/alabama.jpeg');
    background-size: cover;
    h4{
        color: @brand-secondary-text;
    }
    p{
        color: @brand-secondary-text;
    }
}

.card-votes{
    padding: 1em;
    color: @brand-primary;
    img{
        width: 10em;
        position: absolute;
        right: 5em;
        bottom: 5em;
    }
}

.votes-count{
    font-size: 2em;
    font-weight: bold;
}

.universities{
    h2{
        position: absolute;
        left: 50%;
        margin-left: -0.7em;
        margin-top: 4em;
    }
}

.subscribe{ 
    background-color: black;
    border-radius: @borderradius;
    color: white;    
}

.register-container{
    max-width: 1280px;
    margin: 0 auto;
}
.resgiter-text-container{
    margin: 2em auto;
    width: 65%;
    p{
        margin-bottom: .5em;
    }
    h2{
        color:@brand-tertiary;
        font-weight: bold;
    }
}

.cooler{
     width: 80%;
}

.register-modal{
    padding: 1.5em 2em;
}

.register-modal-container{
    margin-bottom: .65em;
}

.close{
    position: absolute;
    top: 0;
    right: 1em;
    cursor: pointer;
}

.main-input{
    padding-left: .75em;
    border-radius: 8px;
    font-size: .8em;
    width: 100%;
    height: 2.5em;
    border: none;
    background-color: #fff;
    color: #404042;
    margin: 0 auto 1em;
}

.selector{
    display: block;
    margin: 0 auto 1em;
    background-color: #fff;
    color: #404042;
    border: none;
    width: 100%;
    font-size: .8em;
    height: 2.5em;
}

.register-button {
    background-color: #3DB893;
    color: #fff;
    font-family: Roboto;
    height: 60px;
    width: 60%;
    border-radius: 8px;
}
