& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="overview-vc"] {

    }
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(../../fonts/Roboto/Roboto-Condensed.otf);
    src: url(../../fonts/Roboto/Roboto-Condensed.ttf);
    src: url(../../fonts/Roboto/Roboto-Condensed.woff); 
}
@font-face {
    font-family: 'Roboto Bold Condensed';
    src: url(../../fonts/Roboto/Roboto-BoldCondensed.otf);
    src: url(../../fonts/Roboto/Roboto-BoldCondensed.ttf);
    src: url(../../fonts/Roboto/Roboto-BoldCondensed.woff);
}
@font-face {
    font-family: 'WorkSans Regular';
    src: url(../../fonts/WorkSans/WorkSans-Regular.otf);
    src: url(../../fonts/WorkSans/WorkSans-Regular.ttf);
    src: url(../../fonts/WorkSans/WorkSans-Regular.woff);   
}
@font-face {
    font-family: 'WorkSans SemiBold';
    src: url(../../fonts/WorkSans/WorkSans-SemiBold.otf);
    src: url(../../fonts/WorkSans/WorkSans-SemiBold.ttf);
    src: url(../../fonts/WorkSans/WorkSans-SemiBold.woff);
}

@font-face {
    font-family: 'WorkSans ExtraBold';
    src: url(../../fonts/WorkSans/WorkSans-ExtraBold.otf);
    src: url(../../fonts/WorkSans/WorkSans-ExtraBold.ttf);
    src: url(../../fonts/WorkSans/WorkSans-ExtraBold.woff);
}




    
.overview{
    background-color: #f1f2f2;
    margin-top: 5em;
    h2{
        color: @brand-tertiary;
        font-family: WorkSans ExtraBold;
        font-weight: bolder;
        font-size: 3em;
        text-align: center;
    }
    
    .overview-container {
        padding-bottom: 5em;
        margin-left: 15em;
    .item {
        display: inline-block;
        width: 80%; 
        h3 {
            display: inline-block;
            font-family: Roboto Condensed;
            color: #343434;
            text-align: left;
            font-size: 2em;
            padding-left: 3px;
            padding-top: 4px;
        }
    }
    
    p {
        color: #95989b;
        font-family: WorkSans Regular;
    }
        
    }
}

.overview-list-image {
    
    margin-top: 5em;
    margin-left: 5em;
    width: 80%;
    
    h3 {
        color: #2995c7;
        font-size: 3em;
        font-family: WorkSans ExtraBold;
        font-weight: bold;
    }
    color: @brand-tertiary;
}

.numberCircle {
    font-family: WorkSans;
    font-weight: bolder;
    display: inline-block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    // padding: 1em;
    background: #2995c7;
    color: white;
    text-align: center;
    line-height: 36px;
    font-size: 1em;
}

.subscription {
    
    background-color: white;
    img {
        margin-left: 10em;
    }
    
    .mail {
        margin-top: 3em;
        margin-right: 100px;
    
        .btn {
            background-color: #2b2c2e;
            margin-top: 1em;
            width: 50%;
            height: 4em;
            text-transform: uppercase;
            font-family: Roboto Condensed;
            letter-spacing: 2px;
            border-radius: 5px;
        }

        
        .email {
            
            .emailInput { 
                text-align: left;
                border: 1px solid #a6a8ab;
                border-radius: 5px;
                font-size: 1.5em;
                font-family: WorkSans Regular;
                background-color: #fff;
                color: #404042;
                height: 2em;
                width: 100%;            
            } 
        }
        
    }
    
    .text-container {
        text-align: left;
        margin-right: 100px;
    
        h3 {
            color: #3c3c3c;
            font-size: 2em;
            text-transform: uppercase;
            font-family: WorkSans ExtraBold;
        }
        
        h4 {
            font-family: WorkSans ExtraBold;
            font-size: 1.5em;
            color: #a0a2a5;
            font-weight: bolder;
            padding: 0;
            margin: 0 auto;
            display: block;
        }
    }
    
    #contests {
    margin-left: 10em;
    display: inline-block;
    margin-top: 2em;
    text-align: left;
    line-height: 2em;
    width: 80%;
        h5 {
            color: @brand-primary;
            font-family: WorkSans ExtraBold;
            font-weight: bolder;
            font-size: 1.5em;
        } 
        p {
            text-align: left;
            font-family: Roboto Condensed;
            font-weight: bold;
            color: #93979a;
            font-size: 1.5em;
            
        }
    }
}


