@import "main.less";

* {
    font-family: WorkSans;
}
& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {

    }
}
#platui {
    #grid {
        @base-percent: 100%;
        @num-columns: 12;
        @column-padding: 0px;
    }
}
@heroheight: 600px;
@box-height: 100px;


// First Section : ARE YOU IN?
.hero {
    background-image: url("../../images/home/coversharks-web-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    width: 100vw;
    height: @heroheight;
}

#areyouin {
    background-color: @brand-primary;
    text-align: center;
    height: @box-height;
    margin-left: @containerpad;
    margin-right: @containerpad;
    top: 0;

}


.layer {
    height: @heroheight;
    color: white;
    text-align:center;   
    .phoneimg{ 
    height: @heroheight;
    vertical-align: bottom;
    #phn {
        position: relative;
        margin-top: 30px;
        margin-left: @containerpad;
        margin-right:@containerpad;
        margin-bottom: 0;
        padding-bottom: 0;
        }
    }
    .herotext{
        padding-top: 11%;
        padding-bottom: 9%;
        vertical-align: center;
        h1{
            line-height: @box-height;
            font-size: 3.4em;
            padding: 0;
            text-transform: uppercase;
            font-family: WorkSans;
            font-weight: bolder;
            
        }
        p{  
            clear: both;
            font-family: Roboto;
            font-weight: bolder;
            font-size: 1.3em;
            line-height: 2em;
            margin-top: 10px;
            padding: 2% @containerpad 2% @containerpad;
        
        }
        button {
            background-color: white;
            border-radius: @borderradius;
            color: black;
            width: 40%;
            height: 60px;
            font-family: WorkSans;
            font-size: 1.3em;
            font-weight: 800;
        }
        button:hover{
            background-color:@brand-primary;
            color:@brand-secondary-text;
            box-shadow: 3px 3px 3px @brand-secondary;
        }   
    }
}

// Second Section : REGISTER TO WIN

.spacer {
    background-color: white;
    overflow: hidden;
    min-height: 400px;
    width: 100%;
    width: 100vw;
    padding: 4% 8% 8% 4%;
    .cooler {
        text-align: center;
        img{
           height: auto;
           width: 100%;
           text-align: center;
        }
    }
    .contesttext {
        text-align: left;
        padding-right: 3%;
        height: 100%;
        h3{
            color: @brand-text;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        h2 {
            color: @brand-tertiary;
            font-size: 3em;
            text-transform: uppercase;
        }
        #register {
            background-color: #404042;
            width: 40%;
            height: 60px;
            border-radius: @borderradius;
            font-size: 1.2em;
        }
         #register:hover{
            background-color: white;
            color: #404042;
            border: 1px #404042 solid;
            box-shadow: 2px 2px 6px #404042 @brand-secondary;
            }
        }
    
}
@hero2height: 550px;
.hero2 {
    background-image: url(../../images/home/bkgrnd.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    min-width: 100%;
    min-width: 100vw;
    min-height: @hero2height;
    
    .hero2text{
        text-align:center;
        padding-top: 5%;
        h2{
            color: @brand-primary;
            font-size: 2.3em;
        }
        p {
            color: @brand-secondary-text;
            line-height: 2em;
            font-size: 1.3em;
            font-family: Roboto;
        }
    }
    #hero2button{
        background-color: white;
        border-radius: @borderradius;
        color: black;
        font-size: 1.2em;
        height: 60px;
        width: 50%
    }
   .hero2img{
       float: left;
       text-align:center;
       .phone{
        height: auto;
        max-height: @hero2height;

       }
   } 
}

.features {
    background-color: #D3D3D3;
    height: 1300px;
    width: 100%;
    text-align: center;
    h1 {
        color: @brand-primary;
        font-weight: bolder;
        font-size: 4.5em;
    }
    .featurewindows{
        min-height: 450px;
        height: 450px;
        .window{
            background-color: white;
            box-shadow: 6px 6px 6px @brand-text;
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 3%;
            padding-top: 15px;
            height: auto;
            width: 27.3%;
            border-radius: @borderradius;
            text-align: center;
             img{
                max-height: 50%;
                width: 90%;
                padding-top: 5%;
            }
            .featurestext{
                height: 200px;
                h4{
                    font-size: 1.5em;
                    line-height: 2em;
                    height: 25%;
                    bottom: 0;
                }
                p {
                    margin-left: 15%;
                    margin-right: 15%;
                    line-height: 2em;
                    font-family: Roboto;
                    bottom:0;
                }
            }
        }
    }
    .contactarea {
        clear:both;
        h4{
            color: @brand-primary;
            font-size: 1.3em;
            font-weight: bolder;
            font-family: Roboto;
        }
        input{
            width: 65%;
            height: 40px;
            background-color: white;
            border-radius: @borderradius;
            padding: 5px;
            margin-bottom: 10px;
        }
        button{
            width: 200px;
            text-align: center;
            height: 60px;
            background-color: #404042;
            color: white;
            font-family: Roboto;
            border-radius: @borderradius;
            display: block;
            margin: 0 auto;
        }
    }
}
.blank{
    color: transparent;
}

.space {
    height: 30px;
    width:100%;
    float: left;
}



