& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {

    }
}
// #platui {
//     #Navbar {
//         #platui > #variables;

//     /// =========== Navbar Colors =========== ///

//         @background-color: @brand-primary;
//         @color: @white;

//     /// =========== Navbar Dimensions =========== ///

//         @height: 4em;
//         @z-index: 100;
//         @left-percentage: 100% / 3;
//         @center-percentage: 100% / 3;
//         @right-percentage: 100% / 3;
//         @padding: 0;
//         @item-padding: 0 1.5em;

//     /// =========== Navbar Properties =========== ///

//         @font-size: 125%;
//         @border-top: none;
//         @border-right: none;
//         @border-bottom: none;
//         @border-left: none;
//         @box-shadow: 0px 0px 2px 1px lighten(@black, 10%);

//     /// =========== Variable Navbar Styles =========== ///

//         .plat-navbar(@prop; @value) {
//             // background-color
//             // color
//             // height
//             // z-index
//             // left-percentage
//             // center-percentage
//             // right-percentage
//             // padding
//             // item-padding
//             // font-size
//             // border-top
//             // border-right
//             // border-bottom
//             // border-left
//             // box-shadow
//         }
//     }
// }

#platui {
    #Drawer {
        #dependencies {
            @length-default: 80%;
        }

        #platui > #variables;
        #platui > #Drawer > #dependencies;

    /// =========== Drawer Colors =========== ///

        @color: @white;
        @background-color: @neutral-color;

    /// =========== Drawer Lengths =========== ///

        @length-left: @length-default;
        @length-right: @length-default;
        @length-top: @length-default;
        @length-bottom: @length-default;

    /// =========== Drawer Root Shadow =========== ///

        @shadow-left: -2px 0px 10px 0px fadeout(@black, 30%);
        @shadow-right: 2px 0px 10px 0px fadeout(@black, 30%);
        @shadow-top: 0px -2px 10px 0px fadeout(@black, 30%);
        @shadow-bottom: 0px 2px 10px 0px fadeout(@black, 30%);

    /// =========== Drawer Root Transition =========== ///

        @transition-time: 300ms;
        @transition-function: ease-out;

    /// =========== Variable Drawer Styles =========== ///

        .plat-drawer(@prop; @value) {
            // length-default
                // affects length-left, length-right, length-top, length-bottom

            // color
            // background-color
            // length-left
            // length-right
            // length-top
            // length-bottom
        }

    /// =========== Drawer Controller Root Element Styles =========== ///

        .plat-drawer-root(@prop; @value) {
            // shadow-left
            // shadow-right
            // shadow-top
            // shadow-bottom
            // transition-time
            // transition-function
        }
    }
}